* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}





.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 26, 47, 0.98); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay-content {
    background: #0d213b;
    padding: 60px 40px;
    border-radius: 25px;
    text-align: center;
    color: white;
    position: relative;
    max-width: 450px;
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fadeInUp 0.8s ease-out; 
}

.overlay-content h1 {
    animation: fadeInUp 1s ease-out;
}

.overlay-content p {
    animation: fadeInUp 1.2s ease-out;
}

.close-overlay {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
    color: #cbd5e0;
    line-height: 1;
    transition: 0.3s;
}

.close-overlay:hover {
    color: #ff4d4d;
    transform: scale(1.1);
}

.overlay-content h1 {
    font-family: 'Quicksand', sans-serif;
    color: #ffd700;
    font-size: 30px;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.overlay-content p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 0;
    line-height: 1.6;
    color: #e1f0ff;
}

.overlay-btn {
    background: #00d2ff;
    color: #0a1a2f;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Quicksand';
    margin-top: 28px;
}

.overlay-btn:hover {
    background: rgb(255, 166, 57);
}





.header {
    background: #0a1a2f;
    padding: 48px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 36px;
    color:rgb(185, 116, 255);   
    line-height: 1.2;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: rgb(185, 255, 33);
  transition: width 0.35s ease;
}

.nav-links a:hover {
  color: rgb(185, 255, 33);
}

.nav-links a:hover::after {
  width: 100%;
}

.search-box input {
    width: 120px;
    padding: 6px 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background: whitesmoke;
    transition: width 0.4s ease;
}

.search-box:hover input,
.search-box input:focus {
    width: 180px;
}




.f2sec {
    padding: 20px 20px;
    background: #001228;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.f2div p {
    color: #e4e4e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.f2name {
    color:rgb(203, 156, 251);   
}





.f3sec {
    padding: 70px 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.f3h1 {
    color: #0a1a2f;
    font-size: 40px;
    font-family: Quicksand;
    font-weight: bold;
    margin-bottom: 50px;
}

.f3div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: fit-content;
}

.card {
    width: 320px;
    background: #0a1a2f;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateX(2px);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    margin-bottom: 15px;
}

.f3h2 {
    font-size: 20px;
    color: #e1f0ff;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card a, .card button  {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
    border: none;

    font-family: Quicksand;
}

.card a:hover, .card button:hover {
    filter: brightness(1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
    background: #000000;
    border: 1px solid white;
}

.btn1 {
    background-color: #ab0101;
    color: white;
}

.btn2 {
    background-color: #005994;
    color: white;
}

.btn-row {
    display: flex;
    gap: 8px;
    width: 100%;
}

.btn-row a, 
.btn-row button {
    flex: 1; 
    width: 100%;
    margin-bottom: 12px;
    white-space: nowrap; 
}

.btn3 {
    background-color: #008738;
    color: white;
    width: 100%;
}



.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

.close-btn {
    position: absolute;
    top: -30px;
    right: 0;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.modal-controls {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    background: #0a1a2f;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
}

.min-btn, .close-btn {
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400px;
}

.minimized {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    width: 300px !important;
    height: auto !important;
    margin: 0 !important;
    z-index: 9999;
}

.minimized .modal-controls {
    padding: 2px 10px;
}

.minimized iframe {
    height: 180px !important;
}

.modal-minimized-bg {
    background-color: transparent !important;
    pointer-events: none;
}

.modal-minimized-bg .modal-content {
    pointer-events: auto;
}





.footer {
    padding: 50px 20px;
    background: #0a1a2f;
    text-align: center;
    color: white;
}

.frh1 {
    font-size: 36px;
    color:rgb(185, 116, 255);   
    line-height: 1.2;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 30px;
}

.social-icon a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    border-radius: 50%;
    transition: all 0.35s ease;
}

.social-icon img {
    width: 18px;
    height: 18px;
    filter: grayscale(100%) brightness(0.3);
    transition: all 0.35s ease;
}

.social-icon a:hover {
    transform: translateX(5px) scale(1.08);
}

.social-icon:nth-child(1) a:hover {
    background: linear-gradient(135deg, #0078D4, #00A4EF);
}

.social-icon:nth-child(2) a:hover {
    background: #1877F2;
}

.social-icon:nth-child(3) a:hover {
    background: linear-gradient(135deg,#f58529,#dd2a7b,#8134af);
}

.social-icon:nth-child(4) a:hover {
    background: #000000;
}

.social-icon:nth-child(5) a:hover {
    background: #000000;
}

.social-icon:nth-child(6) a:hover {
    background: #10a748;
}

.social-icon a:hover img {
    filter: brightness(0) invert(1);
}

.copyright {
    font-family: Quicksand;
    font-size: 18px;
}

@media (max-width: 576px) {
    
    .overlay-content h1 {
    font-size: 22px;
}

.overlay-content p {
    font-size: 16px;
}

    .header {
        padding: 20px 15px; 
    }

    nav {display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 14px;
    }

    .logo h1 {
        font-size: 22px;
    }
    
    .f2sec {
        padding: 20px 40px;
    }

    .f2div p {
        font-size: 14px;
    }

    .f3sec {
        padding: 40px 15px;
    }

    .f3h1 {
        font-size: 24px;
        text-align: center;
    }

    .f3div {
        grid-template-columns: 1fr;
        width: 100%;
    }
    

    .card {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }

    .btn-row {
        flex-direction: row;
        gap: 10px;
    }

    .modal-content {
        width: 95%;
        margin: 20% auto;
    }

    .minimized {
        width: 200px !important;
        bottom: 10px !important;
        right: 10px !important;
    }

    .footer {
        padding: 40px 15px;
    }

    .frh1 {
        font-size: 20px;
        line-height: 1.2;
    }

    .footer-social {
        gap: 10px;
    }

    .copyright {
        font-size: 12px;
    }
}